// Here you can add other styles
.spinner-loading {
  position: absolute;
  left: 50%;
  top: 0;
}
.container-lg {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding-bottom: 100px;
}
.button-form {
  display: flex;
  justify-content: space-between;
  .Next_btn {
    margin-left: auto;
  }
}

.new_employer_form {
  min-height: 250px;
}

._link {
  text-decoration: underline;
  cursor: pointer;
}

.icon-table {
  border-radius: 50%;
  width: 50px;
}

.user__name {
    cursor: pointer;
  a {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      margin-left: 5px;
      font-size: 20px;
    }
  }
}
.navbar_new{
  display: flex;
  flex-direction: column;
  padding: 0;
  a{
    padding: 10px 10px;
    color: #bbbbbb;
   
    text-decoration: none;
    svg{
      margin: 0 10px !important;
    }
  }

}

a.active_link {
  background: #536583;
  color: white;
}